.navbarContainer {
    height: auto;
    width: 80%;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.title {
    color: chocolate;
    padding: 20px;
}